# Ignore all files in the solutions directory under git/code_challenge/
git/code_challenge/solutions/*

# Ignore all files in the solutions directory under markdown_lessons/code-challenges/
markdown_lessons/code-challenges/solutions/*
