# Ignore all files in the solutions directory under git/code_challenge/
git_lessons/code_challenge/code_challenge/solutions/*

# Ignore all files in the solutions directory under markdown_lessons/code-challenges/
markdown_lessons/code-challenges/solutions/*
html_css_js_lessons/code-challenges/solutions/*
manager.ipynb
*.xlsx

lesson_plan.md  
**/node_modules